.better-rolltables-list [data-action="drop"] {
    border-radius: 20px;
    text-align: center;
    backdrop-filter: contrast(0.75);
    font-style: italic;
    padding: calc(50px - 1em);
    border-style: dotted;
    border-color: lightgray;
    margin-bottom: 5px;
}
.better-rolltables-list [data-action="drop"].drag-over {
    border-color: black;
}
.better-rolltables-list .roll-table-header,
.better-rolltables-list .currency-header {
    height: 28px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-tertiary);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.better-rolltables-list .currency-header {
    padding-left: 5px;
}
.better-rolltables-list .roll-table-list {
    padding-left: 0;
    max-height: 500px;
    overflow-y: scroll;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.better-rolltables-list .currency-list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.better-rolltables-list .currency {
    display: flex;
    flex: 0;
    align-items: center;
    gap: 5px;
}
.better-rolltables-list .currency input {
    min-width: 3em;
}
.better-rolltables-list .roll-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.better-rolltables-list .roll-table-quantity,
.better-rolltables-list .roll-table-brtType,
.better-rolltables-list .header-quantity,
.better-rolltables-list .header-brtType {
    text-align: center;
    flex-basis: 6em;
}
.better-rolltables-list [data-action="render"] {
    font-weight: bold;
    flex: 1;
    padding: 0 5px;
}
