.app.sheet.better-rolltables-rolltable-result-richedit {
  min-height: 260px;
  min-width: 560px;

  section.window-content {
    form {
      display: flex;
      flex-direction: column;

      height: 100%;
      width: 100%;

      .editor {
        height: 100%;
        padding: 0.2rem;
      }
    }
  }
}
